<%- include('partials/header') %>

<!-- Bootstrap Navbar -->
<%- include('partials/navbar') %>

<div class="container-fluid">
    <div class="pt-5 pb-5 d-flex justify-content-center align-items-center">
        <h1 class = "text-center">E-Commerce Security - Captcha Demonstration<h1>
    </div>
    <div class="p-5">
        <h2>Welcome!</h2>
        <% if (email) { %>
            <p>Logged in as: <%= email %></p>
        <% } %>
    </div>
</div>


<%- include('partials/footer') %>