<%- include('partials/header') %>

<!-- Bootstrap Navbar -->
<%- include('partials/navbar') %>

<div class="container-fluid">
    <div class="pt-5 pb-5 d-flex justify-content-center align-items-center">
        <h1 class = "text-center">Products<h1>
    </div>
    <div class="justify-content-center align-items-center">
        <p>We are still working on this page! Check back soon!</p>
    </div>
</div>


<%- include('partials/footer') %>